Flask==0.12
Flask-Script==2.0.3
itsdangerous==0.24
Jinja2==2.9.5
Werkzeug==0.12.1
gevent==1.2.2
greenlet==0.4.12
gunicorn==19.7.0
MarkupSafe==1.0
# nltk==3.2.4
# rake_nltk==1.0.2
flasgger==0.8.1
gensim==3.2.0
numpy==1.14.0
futures
flask-mongoengine
sner
enum34
logging

# Elasticsearch
elasticsearch==2.4.1

# Elasticsearch 6.x
# elasticsearch-dsl>=6.0.0,<7.0.0

# Elasticsearch 5.x
# elasticsearch-dsl>=5.0.0,<6.0.0

# Elasticsearch 2.x
elasticsearch-dsl>=2.0.0,<3.0.0
